NODE_ENV=development
PORT=3000

# Database
DATABASE_USERNAME=hr
DATABASE_PASSWORD=ac425090981c3d69bf3a55be3d444a54
DATABASE_PLATFORM=postgres
DATABASE=hr
DATABASE_SCHEMA=hr

#Oracle
#DATABASE_HOST=192.168.1.1
#DATABASE_PORT=1521

#Postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

DYLD_LIBRARY_PATH=/app/oracle/instantclient_19_8
ORACLE_HOME=/app/oracle/instantclient_19_8
ENC_KEY=wheninthecourseofhumaneventsitbe

# LDAP
LDAP_HOST=myldapserver
LDAP_PORT=9999
LDAP_USETLS=Y
LDAP_PRINCIPAL=admin
LDAP_CREDENTIAL=welcome1
LDAP_BASE_DN=abc
LDAP_USER_DN=abc
LDAP_GROUP_DN=abc


JWT_SECRET=wheninthecourseofhumaneventsitbecomesnecessary
JWT_EXPIRES_IN=3600s
